name: CI PROD

on:
  push:
    branches:
      - main
jobs:
  build-frontend:
    name: Build frontend
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: true
      matrix:
        php-versions: [ '8.1.18' ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver: docker-container

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push with Attestations
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile-prod
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/website-amo:latest
          sbom: true
          provenance: true
          network: host

      - name: SSH to production server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            bash deploy.sh